/* Basic style reset */
* {
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

/* ------------------------------------- */

/* Stacked containers style */
.nsp-container-stacked { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
}

.nsp-container-stacked.nsp-hidden {
    top: -100vh;
}

/* ------------------------------------- */

/* Slide containers style */
.nsp-container-slide {
    width: 100vw;
    height: 100vh;
}


/* ------------------------------------- */

/* Feel free to override this style if u want to customize your nav-dots */
/* Dots style */
.nsp-dots-right {
    position: fixed;
    top:50%;
    right:0;
    transform: translateY(-50%);
    z-index: 51;
}

.nsp-dots-left {
    position: fixed;
    top:50%;
    left:0;
    transform: translateY(-50%);
    z-index: 51;
}

.nsp-dot {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.nsp-dot.nsp-active {
    border: 3px solid rgba(255, 255, 255, 1);
}

.nsp-dot:hover {
    border: 3px solid rgba(255, 255, 255, 1);
}

.nsp-dot::after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 15px;
    height: 15px;
    border: 10px solid white;
    border-radius: 50%;
    transition: 0.5s;
    
}

.nsp-dot.nsp-active::after{
    width: 0px;
    height: 0px;
}

/* Dot title style */
.nsp-dot-title {
    position: fixed;
    width: max-content;
    opacity: 0;

    /* You can change these properties */
    transition: 0.5s;
    color: white;
    font-family: sans-serif;
    font-size: 100%;
}

.nsp-dot-title.active {
    opacity: 1;
}
